.App {
  text-align: center;
}

button {
  height: 4vh;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover {
  cursor: pointer;
  color: grey;
}

/************* NAVBAR *********/
.navbar {
  display: flex;
  justify-content: space-between;
  background: lightgray;
  padding: 1vh 2vw;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/************ USERS LIST ***********/

.users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-list div {
  margin-bottom: 1vh;
  background: lightgrey;
  padding: 1vh 1vw 0;
  width: 30%;
}

/************ RECORDS LIST ***********/

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.record {
  width: 20%;
}

.collection img {
  width: 100%;
}